body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(to right, #000, #444);
    color: white;
}

.btn {
    background: gold;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.btn:hover {
    background: orange;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.title {
    text-align: center;
    margin-top: 20px;
}

.contact {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}